{% extends 'header.html' %} {% block content %}
<main>
    <h1 class="text-center">Buscador Rick & Morty</h1>

    <div class="d-flex justify-content-end" style="margin-bottom: 1%; margin-right: 2rem;">
        <!-- Selector de página -->
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="?page={{ prev_page }}{% if search_msg %}&query={{ search_msg }}{% endif %}">⬅️</a>
                </li>
                <li class="page-item" aria-current="page">
                    <a class="page-link" href="?page={{ prev_page }}{% if search_msg %}&query={{ search_msg }}{% endif %}">{{ prev_page }}</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_number }}{% if search_msg %}&query={{ search_msg }}{% endif %}">{{ page_number }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ next_page }}{% if search_msg %}&query={{ search_msg }}{% endif %}">{{ next_page }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ next_page }}{% if search_msg %}&query={{ search_msg }}{% endif %}">➡️</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="d-flex justify-content-center" style="margin-bottom: 1%">
        <!-- Buscador del sitio -->
        <form class="d-flex" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="query" placeholder="Escribí una palabra" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
    <!-- trasladamos images a page_object -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if page_object|length == 0 %}
        <h2 class="text-center">La búsqueda no arrojó resultados...</h2>
        {% else %} {% for img in page_object %}
        <div class="col">
                {% if img.status == 'Alive' %} <div class="card mb-3 ms-5" style="max-width: 540px;border-color:green">
                {% elif img.status == 'Dead' %} <div class="card mb-3 ms-5" style="max-width: 540px;border-color:red">
                {% else %} <div class="card mb-3 ms-5" style="max-width: 540px;border-color:orange">
                {% endif %}
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ img.url }}" class="card-img-top" alt="imagen">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{ img.name }}</h3>
                            <p class="card-text">
                                <strong>
                                            {% if img.status == 'Alive' %} 🟢 {{ img.status }} 
                                            {% elif img.status == 'Dead' %} 🔴 {{ img.status }}
                                            {% else %} 🟠 {{ img.status }} 
                                            {% endif %}
                                        </strong>
                            </p>
                            <p class="card-text"><small class="text-body-secondary">Última ubicación: {{ img.last_location }}</small></p>
                            <p class="card-text"><small class="text-body-secondary">Episodio inicial: {{ img.first_seen }}</small></p>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="card-footer text-center">
                            <form method="post" action="{% url 'agregar-favorito' %}">
                                {% csrf_token %}
                                <input type="hidden" name="name" value="{{ img.name }}">
                                <input type="hidden" name="url" value="{{ img.url }}">
                                <input type="hidden" name="status" value="{{ img.status }}">
                                <input type="hidden" name="last_location" value="{{ img.last_location }}">
                                <input type="hidden" name="first_seen" value="{{ img.first_seen }}"> {% if img in favourite_list %}
                                <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white" disabled>✔️ Ya está en favoritos</button> {% else %}
                                <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white">⭐ Añadir a favoritos</button> {% endif %}
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</main>
{% endblock %}